<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <!-- CABINET CODE CAMPAIGN MATERIAL -->
    <add key="APIUserName" value="APIXCFMUser" />
    <add key="APIPassword" value="Dz9fxMi1JXpTwj6@" />
    <add key="APIURL" value="http://docs/cabinet" />
    <add key="ConnectTo" value="NYSBOE" />
    <add key="CFMCabinetName" value="CFM" />
    <add key="CFMRepositoryId" value="CFM CABINETS" />
    <add key="CFMSupDocCabinetName" value="CFM_SUPPOTDOCS" />
    <add key="CFMSupDocRepositoryId" value="CFMSUPDOCS CABINETS" />
    <add key="CabinetIndexFolderName" value="FolderName" />
    <add key="CabinetIndexFolderId" value="ID" />
    <add key="IEPCCommInfoFolderName" value="PIDA_Pol_Com_Docs" />
    <add key="ParentID" value="0" />
    <add key="SecurityID" value="1" />
    <add key="RetentionID" value="0" />
	<add key="FilingPath" value="\\NYSBOELAN\NYSBOE_ServerShares\\BulkDownload_Share\\BulkDownload\\EFS_Import\\"/>
    <!-- CABINET CODE CAMPAIGN MATERIAL -->
    <!-- INTERNAL NETWORK DRIVE PATH -->    
    <add key="CAMP_MATR_URL" value="//boeddb1//DataFile//Campaign_Material//" />
    <!--DEV-->
    <!--<add key="SSRSUserName" value="Sa_DCFRPTUser"/>
    <add key="SSRSPassword" value="vHvKq9$1g2"/>    
    <add key="SSRSServerURL" value="http://dcfdb1s2/ReportServer/ReportExecution2005.asmx"/>-->

    <add key="SSRSUserName" value="sa_QCFRPTUser" />
    <add key="SSRSPassword" value="F4C%#qQD#+" />
    <add key="SSRSServerURL" value="http://QCFDB1S2/ReportServer/ReportExecution2005.asmx" />
    
	<!--<add key="SSRSUserName" value="sa_ucfsqlrds"/>
	<add key="SSRSPassword" value="+ZFb8sOXSIFD$b8"/>
	<add key="SSRSServerURL" value="http://ucfdb1s2/ReportServer/ReportExecution2005.asmx"/>-->
	  
    <!--DEV-->
    <!--UAT-->
    <!--<add key="SSRSUserName" value="sa_ucfsqlrds"/>
    <add key="SSRSPassword" value="+ZFb8sOXSIFD$b8"/>
    <add key="SSRSServerURL" value="http://ucfdb1s2/ReportServer/ReportExecution2005.asmx"/>--> 
    <!--UAT-->
    <!--<add key="SSRSServerURL" value="http://pcfdbavlgrp/ReportServer_CAPISFIDASRPTSQL/ReportExecution2005.asmx"/>-->
    <!-- INTERNAL NETWORK DRIVE PATH -->
  </appSettings>
  <connectionStrings>
	  <!--<add name="EFSEntities" connectionString="metadata=res://*/EFSModel.csdl|res://*/EFSModel.ssdl|res://*/EFSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=UCFDB1S2\UCFDB;initial catalog=CAPASFIDAS;user id=user1;password=User@123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>--><!--
    <add name="EFSEntities" connectionString="metadata=res://*/EFSModel.csdl|res://*/EFSModel.ssdl|res://*/EFSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DCFDB1S2;initial catalog=CAPASFIDAS;user id=user1;password=User@123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    --><!--<add name="EFSEntities" connectionString="metadata=res://*/EFSModel.csdl|res://*/EFSModel.ssdl|res://*/EFSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BOEQDB1\APPSQL;initial catalog=CAPASFIDAS;user id=RLSLogin;password=User@123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />--><!--
    --><!--<add name="CAPASFIDASTEMPEntities" connectionString="metadata=res://*/EFSAuthentication.csdl|res://*/EFSAuthentication.ssdl|res://*/EFSAuthentication.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=UPOCDB1;initial catalog=CAPASFIDASTEMP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />--><!--
    --><!--<add name="CAPASFIDASTEMPEntities1" connectionString="metadata=res://*/EFSAuthentication.csdl|res://*/EFSAuthentication.ssdl|res://*/EFSAuthentication.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=UPOCDB1;initial catalog=CAPASFIDAS_RLS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CAPASFIDASTEMPDBEntities" connectionString="metadata=res://*/EFSTEMPModel.csdl|res://*/EFSTEMPModel.ssdl|res://*/EFSTEMPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DCFDB1S2;initial catalog=CAPASFIDAS_RLS;user id=TEMPDBLOGIN;password=User@123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />--><!----><!--<add name="CAPASFIDAS_RLSEntities" connectionString="metadata=res://*/EFSTEMPModel.csdl|res://*/EFSTEMPModel.ssdl|res://*/EFSTEMPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DCFDB1S2;initial catalog=CAPASFIDAS_RLS;user id=TEMPDBLOGIN;password=User@123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />--><!--
    <add name="CAPASFIDAS_RLSEntities" connectionString="metadata=res://*/EFSRLSModel.csdl|res://*/EFSRLSModel.ssdl|res://*/EFSRLSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DCFDB1S2;initial catalog=CAPASFIDAS_RLS;user id=User1;password=User@123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	  
	  
	<!--DEV SERVER- START-->	  
	  <!--<add name="EFSEntities" connectionString="metadata=res://*/EFSModel.csdl|res://*/EFSModel.ssdl|res://*/EFSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DCFDB1S2;initial catalog=CAPASFIDAS; user id=user1;password=User@123456; MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CAPASFIDAS_RLSEntities" connectionString="metadata=res://*/EFSRLSModel.csdl|res://*/EFSRLSModel.ssdl|res://*/EFSRLSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DCFDB1S2;initial catalog=CAPASFIDAS_RLS;user id=user1;password=User@123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	  <!--DEV SERVER- END-->

	  <!--QA SERVER- START-->
	  <add name="EFSEntities" connectionString="metadata=res://*/EFSModel.csdl|res://*/EFSModel.ssdl|res://*/EFSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QCFDB1S2\QCFDB;initial catalog=CAPASFIDAS; user id=user1;password=User@123456; MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="CAPASFIDAS_RLSEntities" connectionString="metadata=res://*/EFSRLSModel.csdl|res://*/EFSRLSModel.ssdl|res://*/EFSRLSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QCFDB1S2\QCFDB;initial catalog=CAPASFIDAS_RLS;user id=user1;password=User@123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <!--QA SERVER- END-->
	  
	  <!--UAT SERVER - START-->
	    <!--<add name="EFSEntities" connectionString="metadata=res://*/EFSModel.csdl|res://*/EFSModel.ssdl|res://*/EFSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=UCFDB1S2\UCFDB;initial catalog=CAPASFIDAS; user id=user1;password=User@123456; MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="CAPASFIDAS_RLSEntities" connectionString="metadata=res://*/EFSRLSModel.csdl|res://*/EFSRLSModel.ssdl|res://*/EFSRLSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=UCFDB1S2\UCFDB;initial catalog=CAPASFIDAS_RLS;user id=user1;password=User@123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
      <!--UAT SERVER - END-->

	  <!--PROD SERVER - START-->
	  <!--<add name="EFSEntities" connectionString="metadata=res://*/EFSModel.csdl|res://*/EFSModel.ssdl|res://*/EFSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PCFDB1S1\PCFDB;initial catalog=CAPASFIDAS; user id=_P_RLSAppUser;password=%xVb4?RG?1#judJ; MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="CAPASFIDAS_RLSEntities" connectionString="metadata=res://*/EFSRLSModel.csdl|res://*/EFSRLSModel.ssdl|res://*/EFSRLSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PCFDB1S1\PCFDB;initial catalog=CAPASFIDAS_RLS;user id=_P_RLSAppUser;password=%xVb4?RG?1#judJ;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	  <!--PROD SERVER - END-->



	  <!--<add name="CAPASFIDASTEMPDBEntities" connectionString="metadata=res://*/EFSTEMPModel.csdl|res://*/EFSTEMPModel.ssdl|res://*/EFSTEMPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DCFDB1S2;initial catalog=CAPASFIDASTEMP;user id=user1;password=User@123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

	  <!--<add name="EFSEntities" connectionString="metadata=res://*/EFSModel.csdl|res://*/EFSModel.ssdl|res://*/EFSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BOEQDB1\APPSQL;initial catalog=CAPASFIDAS; user id=user1;password=User@123456; MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="CAPASFIDASTEMPDBEntities" connectionString="metadata=res://*/EFSTEMPModel.csdl|res://*/EFSTEMPModel.ssdl|res://*/EFSTEMPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BOEQDB1\APPSQL;initial catalog=CAPASFIDASTEMP;user id=user1;password=User@123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    <!-- UAT -->
    <!--<add name="EFSEntities" connectionString="metadata=res://*/EFSModel.csdl|res://*/EFSModel.ssdl|res://*/EFSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=UCFDB1S2\UCFDB;initial catalog=CAPASFIDAS_UAT; user id=user1;password=User@123456; MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CAPASFIDAS_RLSEntities" connectionString="metadata=res://*/EFSRLSModel.csdl|res://*/EFSRLSModel.ssdl|res://*/EFSRLSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=UCFDB1S2\UCFDB;initial catalog=CAPASFIDAS_RLS;user id=user1;password=User@123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
	  <httpRuntime  targetFramework="4.6.1" maxRequestLength="1048576"
					  maxUrlLength="10999" maxQueryStringLength="2097151"
					  fcnMode="Disabled" executionTimeout="102400"
					  requestLengthDiskThreshold="80" useFullyQualifiedRedirectUrl="false"
					  minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100"
					  enableKernelOutputCache="true" enableVersionHeader="false" requireRootedSaveAsPath="true"
					  enable="true" shutdownTimeout="90" delayNotificationTimeout="5"
					  waitChangeNotification="0" maxWaitChangeNotification="0"
					  enableHeaderChecking="true" sendCacheControlHeader="true"
					  apartmentThreading="false"></httpRuntime>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="EFSBinding" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:25:00"
				 receiveTimeout="00:10:00"
                 maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxNameTableCharCount="2147483647"
							maxStringContentLength="2147483647" maxDepth="2147483647" maxBytesPerRead="2147483647" />
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="CAPASFIDAS_EFS_SERVICE.CAPASFIDAS_EFS_SERVICE">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="EFSBinding" contract="CAPASFIDAS_EFS_SERVICE.ICAPASFIDAS_EFS_SERVICE"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer />
          <serviceTimeouts transactionTimeout="05:05:00" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="wsHttpBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
	  <security>
		  <requestFiltering>
			  <requestLimits maxAllowedContentLength="1073741824" />
		  </requestFiltering>
	  </security>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>

        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31BF3856AD364E35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>