
@{
    ViewBag.Title = ": Help with Transfers In (Schedule G) ";
    Layout = "~/Views/Shared/_HelpMaster.cshtml";
}

<div data-role="page" id="pageone">
    <div data-role="header">
        <h1 style="padding-left:1em; padding-right:1em;">Transfers In Help:</h1>
    </div>
    <br />
    <div data-role="main" class="ui-content">
        <div data-role="collapsibleset">
            <div data-role="collapsible" data-collapsed="false">
                <p class="helpscreen-text-required">
                    <br />
                    Transfers In (Schedule G) is used to report Transfers in. Transfer means the exchange of funds or anything of value between: a) a party or constituted committee and a candidate or any of his/her authorized committees; or b) two committees authorized by, and solely supporting the same candidate in his campaign.
                    <br />
                    <br />
                    Note: Do not report funds received from independent committees or committees authorized by a different candidate as a transfer. These receipts must be reported as a contribution on Monetary Contributions / All Other (Schedule C) (e.g. \"Friends of John Doe\" to \"Citizens for Smith\").
                    <br />
                    <br />
                    PACs (Political Action Committees) must NOT use this schedule. Any monies received by PACs must be reported on Monetary Contributions (Schedule A, B, or C) depending on the types of contributors.
                    The date transferred, transferor name, transfer type, check number (if method of payment is check) and amount must be included to save the transaction. However if the address details are not provided, it might result in Deficiency letter.
                    <br />
                </p>
            </div>
        </div>
    </div>

</div>

