
@{
    ViewBag.Title = ": Get Schedule F Help Pop Up";
    Layout = "~/Views/Shared/_HelpMaster.cshtml";
}

<div data-role="page" id="pageone">
    <div data-role="header">
        <h1 style="padding-left:1em; padding-right:1em;">Expenditure / Payments Help:</h1>
    </div>
    <br />
    <div data-role="main" class="ui-content">
        <div data-role="collapsibleset">
            <div data-role="collapsible" data-collapsed="false">
                <p class="helpscreen-text-required"> 
                    <br />
                    Expenditure / Payments (Schedule F) is used to report all disbursements made in connection with a campaign, other than loan repayments, refunds of contributions and transfers out. The law requires, in addition to other information, that a clearly stated purpose is provided. This Purpose Code explains the expense.
                    <br />
                    <br />
                    Sometimes a particular expense may fit into more than one code. You should use the code most representative of the expense. For example, the purchase of stamps for day to day correspondence, bills, etc. would be listed as <b>Postage</b>. However, the purchase of stamps for a mass mailing to voters or contributors would most properly be reported as <b>Campaign Mailings</b>. An item should be listed only under one code.
                    <br />
                    <br />
                    Reimbursements, whether to individuals or credit cards, must be reported by selecting the reimbursement purpose code <b>Reimbursement</b>. These reimbursements are expected to be payments to persons for personal services (wages, fees, and/or stipends for work they performed in the campaign). If you are reimbursing a person for non-personal services or something he or she purchased for the campaign from a vendor, then <b>you must report the transaction and provide detail under reimbursement details.</b>
                    <br />
                    <br />
                    There is an example demonstrating reimbursements in the handbook.
                    <br />
                    <br />
                    Expenditure / Payments (Schedule F) is used to report all campaign expenses, and all political contributions to other candidates and political committees, other than transfers. You must report Transfers Out on Schedule H instead. Detail must be provided for each expenditure that exceeds $49.99.
                    <br />
                    <br />
                    If you select <b>OTHER</b> for your <b>Purpose Code</b>, you must explain the expense in the comments field.
                    <br />
                    <br />
                    The purpose code <b>Constituent Services</b> can be used only by a political office holder to better serve constituents or better serve the office.
                    <br />
                    <br />
                    Expenses to conduct the candidates own fundraiser are fundraising expenses. Purchasing tickets to another candidate's fund raiser is a political contribution and would be described by the code Purpose Code <b>Political Contributions.</b> For candidates, purchasing tickets to a state or county committee's fundraiser is a transfer out and should be reported on Transfers Out (Schedule H).
                    <br />
                    <br />
                    The date paid, payee name, purpose code, check number (if method of payment is check) and amount must be included to save the transaction. However if the address details are not provided, it might result in Deficiency letter.
                    <br />
                    <br />
                    The requirement to detail <b>subcontractor payments must be further defined in Subcontractor Details.</b> Please see NYCRR 6200.8 Reporting requirements. The name and amount attributed must be included to save the detailed transaction.
                    <br />
                    <br />
                    If purpose code is selected as “Credit Card Payment”, details must be provided under credit card payment details. The date paid, payee name, amount must be included to save the detailed transaction.
                    <br />
                    <br />
                    If purpose code is selected as “Reimbursement”, details must be provided under reimbursement details. The details payee name, purpose code and amount must be included to save the detailed transaction.
                    <br />
                    <br />
                    Expenditure/Payments transaction can be created for the existing liability. Once created, system creates a Schedule N (Outstanding Liability) transaction corresponding to the pending amount.
                    <br />
                    <br />
                    System displays the Liability Details (details of Expenditures/Payments) by grouping the original liability, expenditure payments, outstanding liabilities and liability forgiven.
                    <br />
                </p>
            </div>
        </div>
    </div>

</div>

