
@{
    ViewBag.Title = ": Get Schedule D Help Pop Up";
    Layout = "~/Views/Shared/_HelpMaster.cshtml";
}

<div data-role="page" id="pageone">
    <div data-role="header">
        <h1 style="padding-left:1em; padding-right:1em;">In-Kind Contributions Help:</h1>
    </div>
    <br />
    <div data-role="main" class="ui-content">
        <div data-role="collapsibleset">
            <div data-role="collapsible" data-collapsed="false">
                <p class="helpscreen-text-required">
                    <br />
                    In-Kind Contributions (Schedule D) is used to report in-kind (non-monetary) contributions: 1) services/facilities; 2) goods, property and equipment; 3) expenses incurred that were paid by someone else. For in-kind contributions, fair market value of goods and services should be calculated as retail, not wholesale.
                    <br />
                    <br />
                    In-kind contributions do not affect the balance when reporting. They will come in as a contribution but will go back out as an expense (to offset the amount so that it doesn't affect the balance.
                    <br />
                    <br />
                    The date received, contributor code, contribution type, check number (if method of payment is check) and amount must be included along with the name of the contributor to save the transaction. However if the address details are not provided, it might result in Deficiency letter.
                    <br />
                    <br />
                    Detailed records must be captured for contributions with contributor code as “Partnership, including LLPs” for amount over $2500. The partner name, amount attributed must be included to save the detailed transaction.
                    <br />
                    <br />
                    When a partnership's total aggregate contributions exceed $2,500 (calendar year for constituted/party committees/PACs; election cycle for candidates/candidate's committees) partnership details must also be reported.
                    <br />
                    <br />
                    Note: In-kind contributions received by party/constituted committees for housekeeping only are reported on Non-Campaign Housekeeping Receipts (Schedule P) and out on Non-Campaign Housekeeping Expenses (Schedule Q) simultaneously, with an explanation.
                    <br />
                    <br />
                    Note also: In-kind contributions are subject to limits.
                    <br />
                </p>
            </div>
        </div>
    </div>

</div>

