
@{
    ViewBag.Title = ": Get Schedule L Help Pop Up";
    Layout = "~/Views/Shared/_HelpMaster.cshtml";
}

<div data-role="page" id="pageone">
    <div data-role="header">
        <h1 style="padding-left:1em; padding-right:1em;">Expenditure Refunds Help:</h1>
    </div>
    <br />
    <div data-role="main" class="ui-content">
        <div data-role="collapsibleset">
            <div data-role="collapsible" data-collapsed="false">
                <p class="helpscreen-text-required">
                    <br />
                    Expenditure Refunds (Schedule L) is used to report expenditure refunds of previously reported campaign expenses (errors, overpayments, adjustments, return of deposits, uncashed checks, etc.) back to the candidate/committee.
                    <br />
                    <br />
                    NOTE: This will increase your balance.
                    <br />
                    <br />
                    System creates / links the Expenditure Refunds to the Expenditure (Schedule F).
                    <br />
                    <br />
                    The date refund received, check number (if method of payment is check) and amount refunded must be included along with the name to save the transaction. However if the address details are not provided, it might result in Deficiency letter.
                    <br />
                </p>
            </div>
        </div>
    </div>

</div>

