
@{
    ViewBag.Title = "Get Schedule C Help Pop Up";
    Layout = "~/Views/Shared/_HelpMaster.cshtml";
}

<div data-role="page" id="pageone">
    <div data-role="header">
        <h1 style="padding-left:1em; padding-right:1em;">Monetary Contributions/All Other Help:</h1>
    </div>
    <br />
    <div data-role="main" class="ui-content">
        <div data-role="collapsibleset">
            <div data-role="collapsible" data-collapsed="false">
                <p class="helpscreen-text-required">
                    <br />
                    Monetary Contributions / All Other (Schedule C) is used to report all monetary contributions from other entities not captured on Monetary Contributions / Individual and Partnerships (Schedules A) and Monetary Contributions / Corporate (Schedule B), such as political committees including PACs, unincorporated unions and unincorporated associations. Limited liability companies (LLCs) are also reported on Monetary Contributions / All Other (Schedule C).
                    <br />
                    <br />
                    The date received, contributor type code, check number (if method of payment is check) and amount must be included along with the name of the contributor to save the transaction. However if the address details are not provided, it might result in Deficiency letter.
                    <br />
                    <br />
                    Detailed records must be captured for contributions with contributor type code as “Professional/Limited Liability Company (PLLC/LLC)”. The name, amount attributed must be included to save the detailed transaction.
                    <br />
                    <br />
                    System does not allow unitemized transactions for contributor type code as “Professional/Limited Liability Company (PLLC/LLC)” at the original level.
                    <br />
                    <br />
                    Whenever the $99.00 threshold is exceeded from a particular contributor, from a single or aggregate contribution, during the applicable cycle (calendar year or election cycle, depending on the filer) then the contributions must be itemized.
                    <br />
                </p>
            </div>
        </div>
    </div>

</div>

