
@{
    ViewBag.Title = ": Get Schedule B Help Pop Up";
    Layout = "~/Views/Shared/_HelpMaster.cshtml";
}

<div data-role="page" id="pageone">
    <div data-role="header">
        <h1 style="padding-left:1em; padding-right:1em;">Monetary Contributions/Corporate Help:</h1>
    </div>
    <br />
    <div data-role="main" class="ui-content">
        <div data-role="collapsibleset">
            <div data-role="collapsible" data-collapsed="false">
                <p class="helpscreen-text-required">
                    <br />
                    Monetary Contributions / Corporate (Schedule B) is used to report all monetary contributions from corporations (e.g. Corp/Inc/PC).
                    <br />
                    <br />
                    The date received, check number (if method of payment is check) and amount must be included along with the name of the contributor to save the transaction. However if the address details are not provided, it might result in Deficiency letter.
                    Whenever the $99.00 threshold is exceeded from a particular contributor, from a single or aggregate contribution, during the applicable cycle (calendar year or election cycle, depending on the filer), then the contributions must be itemized.
                    <br />
                    <br />
                    The contribution amount should include all contributions from this organization occurring during the calendar year (if you represent a PAC) or the campaign cycle (if you represent any other committee or a candidate).
                    <br />
                    <br />
                    A corporation may contribute a total of $5,000 in the aggregate in a calendar year. For instance, if a corporation makes five separate $1,000 contributions in a particular year, the aggregate limit has been reached. Corporate contributions are also subject to a candidate’s contribution receipt limit, which may be less than $5,000.
                    <br />
                    <br />
                    If you receive a corporate contribution over your receipt limit, any or all of the contribution can be returned and reported on Contributions Refunded (Schedule M).
                    <br />
                    <br />
                    Monetary Contributions / Corporate (Schedule B) is not for:
                    <br />
                    <br />
                    -Contributions from Limited Liability Companies (LLCs). Report these on Schedule C.
                    -Loans received. Report these on Loans Received (Schedule I).
                    <br />
                    <br />
                    -Contributions of other than money such as tangible items or services, called "In-Kind Contributions". Report these on In-Kind Contributions (Schedule D).
                    <br />
                    <br />
                    -Transfers in. Report these on Transfers In (Schedule G).
                    <br />
                    <br />
                    -Housekeeping. Report these on Non-Campaign Housekeeping Receipts (Schedule P).
                    <br />
                </p>
            </div>
        </div>
    </div>

</div>

