
@{
    ViewBag.Title = ": Get Schedule N Help Pop Up";
    Layout = "~/Views/Shared/_HelpMaster.cshtml";
}

<div data-role="page" id="pageone">
    <div data-role="header">
        <h1 style="padding-left:1em; padding-right:1em;">Outstanding Liabilities/Loans Help:</h1>
    </div>
    <br />
    <div data-role="main" class="ui-content">
        <div data-role="collapsibleset">
            <div data-role="collapsible" data-collapsed="false">
                <p class="helpscreen-text-required">
                    <br />
                    Outstanding Liabilities/Loans (Schedule N) is used to report:
                    <br />
                    <br />
                    a) any outstanding liabilities (as of the cut-off date);
                    b) any outstanding loans (as of the cut-off date);
                    <br />
                    <br />
                    Liabilities are goods or services that have been received, but which have not yet been paid for. Loans are funds given to a candidate/committee with the expectation of repayment. Outstanding liabilities/loans will be automatically reported here until paid for or forgiven.
                    <br />
                    <br />
                    The date paid, purpose code, check number (if method of payment is check) and original amount must be included along with the creditor name to save the transaction. However if the address details are not provided, it might result in Deficiency letter.
                    <br />
                    <br />
                    All the outstanding loan or liability transactions must be carried forward to the next disclosure report, until the amount is zero. This is an automated process where the outstanding liability/loan is auto created as an Outstanding Liabilities/Loans (Schedule N) transaction.
                    <br />
                    <br />
                    Note: A filer cannot terminate while having any outstanding liabilities or loans, or portions thereof. Items reported on Outstanding Liabilities / Loans (Schedule N) are used for record keeping and do not affect your balance.
                    <br />
                </p>
            </div>
        </div>
    </div>

</div>

