
@{
    ViewBag.Title = ": Get Schedule E Help Pop Up";
    Layout = "~/Views/Shared/_HelpMaster.cshtml";
}

<div data-role="page" id="pageone">
    <div data-role="header">
        <h1 style="padding-left:1em; padding-right:1em;">Other Receipts Help:</h1>
    </div>
    <br />
    <div data-role="main" class="ui-content">
        <div data-role="collapsibleset">
            <div data-role="collapsible" data-collapsed="false">
                <p class="helpscreen-text-required">
                    <br />
                    Other Receipts (Schedule E) is used to report miscellaneous receipts such as interest received on a bank account or loan, dividends from investments, or proceeds from the sale or lease of campaign property or equipment.
                    <br />
                    <br />
                    The date received, receipt name, check number (if method of payment is check) and amount must be included to save the transaction. However if the address details are not provided, it might result in Deficiency letter.
                    <br />
                </p>
            </div>
        </div>
    </div>

</div>

