
@{
    ViewBag.Title = ": Get Schedule R Help Pop Up";
    Layout = "~/Views/Shared/_HelpMaster.cshtml";
}

<div data-role="page" id="pageone">
    <div data-role="header">
        <h1 style="padding-left:1em; padding-right:1em;">Amount Allocated Help:</h1>
    </div>
    <br />
    <div data-role="main" class="ui-content">
        <div data-role="collapsibleset">
            <div data-role="collapsible" data-collapsed="false">
                <p class="helpscreen-text-required">
                    <br />
                    Party committees, constituted committees, and authorized multi-candidate committees are required to allocate campaign expenses among the candidates supported according to the relative benefit each candidate receives from the expenditures. (These amounts are cumulative per candidate over the campaign cycle.
                    <br />
                    <br />
                    Note: candidates generally have either a two or four year campaign cycle.
                    <br />
                    <br />
                    When a committee spends its first dollar on a candidate for a particular election campaign, the committee treasurer lists on this schedule the candidate's name, the office, the district/municipality, and the allocated amount spent for the candidate.
                    <br />
                    <br />
                    On each subsequent report, this information is carried forward. As the committee spends more on a candidate, the amount will increase accordingly.
                    <br />
                    <br />
                    <b>Impact on balance:</b> This schedule is for record-keeping and does not affect the account balance.
                    <br />
                    <br />
                    The date allocated, election year allocated and amount allocated must be included along with the name to save the transaction. However if the address details are not provided, it might result in Deficiency letter.
                    <br />
                </p>
            </div>
        </div>
    </div>

</div>

