
@{
    ViewBag.Title = ": Get Schedule K Help Pop Up";
    Layout = "~/Views/Shared/_HelpMaster.cshtml";
}

<div data-role="page" id="pageone">
    <div data-role="header">
        <h1 style="padding-left:1em; padding-right:1em;">Liabilities / Loans Forgiven Help:</h1>
    </div>
    <br />
    <div data-role="main" class="ui-content">
        <div data-role="collapsibleset">
            <div data-role="collapsible" data-collapsed="false">
                <p class="helpscreen-text-required">
                    <br />
                    Liabilities / Loans (Schedule K) is used to report that a creditor or a lender has forgiven an outstanding debt. This includes any outstanding amounts owed to the candidate which are forgiven by the candidate. Send a letter of forgiveness to the appropriate board(s) of elections for any outstanding liability/loan balances. Make sure you remove the forgiven liability or loan balances reported on Outstanding Liabilities / Loans (Schedule N).
                    <br />
                    <br />
                    Note: Loans or liabilities that are forgiven are considered contributions for limit purposes, and are subject to contribution limits for the applicable election or calendar year cycle. Forgiveness can result in the receipt of an over- contribution, if the amount forgiven: 1) is, in and of itself, greater than the applicable contribution limit, or 2) when added to the previous contribution(s) of the contributor who is forgiving the loan or liability, results in an aggregate amount for the applicable cycle which is greater than the applicable contribution limit for that cycle.
                    <br />
                    <br />
                    Filers are strongly cautioned to consider the applicable contribution limit as applied to the amount to be forgiven, as well as cautioned to review the contribution history of the particular contributor who will be forgiving a loan or liability.
                    <br />
                    <br />
                    For every Liabilities/Loan Forgiven, system creates an Outstanding Loans (Schedule N) transaction.
                    <br />
                    <br />
                    A liability/loan transaction can be a partial payment and does not need to nullify the outstanding loan amount completely.
                    <br />
                    <br />
                    The date forgiven, check number (if method of payment is check) and forgiven amount must be included along with the name to save the transaction. However if the address details are not provided, it might result in Deficiency letter.
                    <br />
                </p>
            </div>
        </div>
    </div>

</div>

