
@{
    ViewBag.Title = ": Get Schedule J Help Pop Up";
    Layout = "~/Views/Shared/_HelpMaster.cshtml";
}

<div data-role="page" id="pageone">
    <div data-role="header">
        <h1 style="padding-left:1em; padding-right:1em;">Loans Repayments Help:</h1>
    </div>
    <br />
    <div data-role="main" class="ui-content">
        <div data-role="collapsibleset">
            <div data-role="collapsible" data-collapsed="false">
                <p class="helpscreen-text-required">
                    <br />
                    Loans Repayments (Schedule J) is used to record the repayment of loans received. Only repayments of principal are reported here. Interest payments are reported on Expenditure/Repayments (Schedule F).
                    <br />
                    <br />
                    Loan Repayments transactions must be with reference to the Original Loan for which balance is available.
                    <br />
                    <br />
                    For every Loan Repayment, system creates an Outstanding Loans (Schedule N) transaction.
                    <br />
                    <br />
                    The loan repaid date, loaner code, check number (if method of payment is check) and amount must be included along with the name to save the transaction. However if the address details are not provided, it might result in Deficiency letter.
                    <br />
                </p>
            </div>
        </div>
    </div>

</div>

