

<div id="divGrid">
    <div id="divIETransGrid">
        <div id="divGridData">
            <table id="gridItemizedIETransactions" class="table-bordered display nowrap" style="width:100%; border-spacing: 0px;">
                <thead id="thdGrid" class="header">
                    <tr>
                        <th class="never">FilingTransId</th> @* 0 *@
                        <th>Expand</th> @* 1 *@
                        <th>IE Type</th> @* 2 *@
                        <th>Treasurer Name</th> @* 3 *@
                        <th>Contributor Name</th> @* 4 *@
                        <th>City</th> @* 5 *@
                        <th>State</th> @* 6 *@
                        <th>Transaction Date</th> @* 7 *@
                        <th>IE Description</th> @* 8 *@
                        <th>Candidate Name/Ballot Proposal Reference</th> @* 9 *@
                        <th>Amount $</th> @* 10 *@
                        <th>Explanation</th> @* 11 *@
                        <th>Created Date</th> @* 12 *@
                        <th class="never">LoanLiabilityNumber</th> @* 13 *@
                        <th class="never">TransNumber</th> @* 14 *@
                        <th class="never">TransMapping</th> @* 15 *@
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
