<div id="divLoading" class="LodingCls">
    <!--SVG is purely vector with no anti-aliasing. This technique that uses an image fallback for browsers who don't support svg format IE and Android 2.3-->
    <h1 class="LoadingMessage" style="color:white;">Processing...</h1>
    <svg class="LoadingSVC" role="img" aria-label="Spinner icon, content is being loaded">
        <image xlink:href="~/Content/Images/ajax-loader-100px.svg" width="100" height="100"></image>
    </svg>
</div>
