
<div>
    <div id="divHeaderIETransactionsHistory">
        <div class="paddingBottom1em paddingtop2em paddingLeft5pt3emDType">
            <h3 class= "lblHeaderSelector">History</h3>
        </div>
    </div>
    <div id="divIETransHistoryGrid">
        <div id="divGridData">
            <table id="gridIETransactionsHistory" class="table-bordered display nowrap" style="width:100%; border-spacing: 0px;">
                <thead id="thdGridData" class="header">
                    <tr>
                        <th class="never">FilingTransId</th> @* 0 *@
                        <th class="never">FilingSchedId</th> @* 1 *@
                        <th class="never">FilingEntityId</th> @* 2 *@
                        <th class="never">ContributorTypeId</th> @* 3 *@
                        <th class="never">PaymentTypeId</th> @* 4 *@
                        <th>Expand</th> @* 5 *@
                        <th>Submission Date</th> @* 6 *@
                        <th>Entity Name</th> @* 7 *@
                        <th>First Name</th> @* 8 *@
                        <th>Middle Name</th> @* 9 *@
                        <th>Last Name</th> @* 10 *@
                        <th>Amount $</th> @* 11 *@
                        <th>Status</th> @* 12 *@
                        <th>Amended</th> @* 13 *@
                        <th>Transaction Date</th> @* 14 *@
                        <th>Transaction Type</th> @* 15 *@
                        <th>Contributor Type</th> @* 16 *@
                        <th>Contribution Type</th> @* 17 *@
                        <th>Lender Code</th> @* 18 *@
                        <th>Country</th> @* 19 *@
                        <th>Street Address</th> @* 20 *@
                        <th>City</th> @* 21 *@
                        <th>State</th> @* 22 *@
                        <th>Zip Code</th> @* 23 *@
                        <th>Method</th> @* 24 *@
                        <th>Check #</th> @* 25 *@
                        <th>Explanation</th> @* 26 *@
                        <th>Itemized</th> @* 27 *@
                        <th>Treasurer First Name</th> @* 28 *@
                        <th>Treasurer Last Name</th> @* 29 *@
                        <th>Treasurer Middle Name</th> @* 30 *@
                        <th>Treasurer Occupation</th> @* 31 *@
                        <th>Treasurer Employer</th> @* 32 *@
                        <th>Treasurer Street Address</th> @* 33 *@
                        <th>Treasurer City</th> @* 34 *@
                        <th>Treasurer State</th> @* 35 *@
                        <th>Treasurer Zip Code</th> @* 36 *@
                        <th>Contributor Occupation</th> @* 37 *@
                        <th>Contributor Employer</th> @* 38 *@
                        <th>Independent Expenditure Description</th> @* 39 *@
                        <th>Candidate's Name/Ballot Proposal Reference</th> @* 40 *@
                        <th>Supported</th> @* 41 *@
                        <th>Created Date</th> @* 42 *@
                        <th class="never">LoanLiabilityNumber</th> @* 43 *@
                        <th class="never">TransNumber</th> @* 44 *@
                        <th class="never">TransMapping</th> @* 45 *@
                        <th class="never">CreatedDate24H</th> @* 46 *@
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>