<div id="divGrid">
    <table id="gridFilingTransactionsOtherGrid" class="table-bordered display nowrap" style="width:100%; border-spacing: 0px;">
        <thead id="thdGrid" class="header">
            <tr>
                <th>FilingTransId</th> @* 0 *@
                <th>FilingSchedId</th> @* 1 *@
                <th>FilingEntityId</th> @* 2 *@
                <th>ContributorTypeId</th> @* 3 *@
                <th>ContributionTypeId</th> @* 4 *@
                <th>PaymentTypeId</th> @* 5 *@
                <th>R_Liability</th> @* 6 *@
                <th>R_Subcontractor</th> @* 7 *@
                <th>Expand</th> @* 8 *@
                <th>Action</th> @* 9 *@
                <th>Date</th> @* 10 *@
                <th>Transaction Type</th> @* 11 *@
                <th>Contributor Code</th> @* 12 *@
                <th>Entity Name</th> @* 13 *@
                <th>First Name</th> @* 14 *@
                <th>MI</th> @* 15 *@
                <th>Last Name</th> @* 16 *@
                <th>Street Address</th> @* 17 *@
                <th>City</th> @* 18 *@
                <th>State</th> @* 19 *@
                <th>Zip Code</th> @* 20 *@
                <th>Method</th> @* 21 *@
                <th>Check #</th> @* 22 *@
                <th>Amount</th> @* 23 *@
                <th>Outstanding Amount</th> @* 24 *@
                <th>Receipt Type</th> @* 25 *@
                <th>Transfer Type</th> @* 26 *@
                <th>Contribution Type</th> @* 27 *@
                <th>Purpose Code</th> @* 28 *@
                <th>Reciept Code</th> @* 29 *@
                <th>Original Date</th> @* 30 *@
                <th>Lender Code</th> @* 31 *@
                <th>Election Year</th> @* 32 *@
                <th>Office</th> @* 33 *@
                <th>District</th> @* 34 *@
                <th>Explanation</th> @* 35 *@
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


