
<div id="divGrid">
    <div class="floatRight paddingBottom0pt8em paddingRight2pt4em">
        <div id="divAddCampMaterial">
            <input type="button" id="btnAddCampaignMaterial" class="btn btn-default clsSetPreserences ui-button ui-widget ui-state-default ui-corner-all" name="Command" value="Report Campaign Material" title="Report Campaign Material" style="font-size:12px; text-decoration:none;" />
        </div>
    </div>
    <div id="divCampMaterialGrid">
        <div id="divGridData">
            <table id="gridCampaignMaterial" class="table-bordered display nowrap" style="width:100%; border-spacing: 0px;">
                <thead id="thdGridData" class="header">
                    <tr>
                        <th class="never">CampaignMaterialId</th> @* 0 *@
                        <th class="never">FilingMethodId</th> @* 1 *@
                        <th class="never">DocumentId</th> @* 2 *@
                        <th>Expand</th> @* 3 *@
                        <th>Action</th> @* 4 *@
                        <th>Date Submitted</th> @* 5 *@
                        <th>Description</th> @* 6*@
                        <th>File Type (Size)</th> @* 7 *@
                        @*<th>Size</th> *@
                        <th>Filing Method</th> @* 8 *@
                        <th>Campaign Material</th> @* 9 *@
                        <th>Amended</th> @* 10 *@
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>