<div id="divHeader_gridLoanRecLoanRepay" class="divHeaderLoanReceivedJQueryClassSelector">
    <div class="paddingbottom1pt5em paddingtoppt5TS paddingLeft5pt3emDType">
        <h3><span id="lblHeaderLRep">Loan Repayment</span></h3>
    </div>
</div>
<div id="div_gridLoanRecLoanRepay" class="divGridLoanReceivedJQueryClassSelector">
    <div id="divGridData_gridLoanRecLoanRepay">
       <table id="gridLoanRecLoanRepay" class="table-bordered display nowrap" style="width:100%; border-spacing: 0px;">
            <thead id="thdGridData_gridLoanRecLoanRepay" class="header">
                <tr>
                    <th class="never">FilingTransId</th> @* 0 *@
                    <th class="never">FilingSchedId</th> @* 1 *@
                    <th class="never">FilingEntityId</th> @* 2 *@
                    <th class="never">ContributorTypeId</th> @* 3 *@
                    <th class="never">ContributionTypeId</th> @* 4 *@
                    <th class="never">PaymentTypeId</th> @* 5 *@
                    <th class="never">R_Liability</th> @* 6 *@
                    <th class="never">R_Subcontractor</th> @* 7 *@
                    <th>Expand</th> @* 8 *@
                    <th>Action</th> @* 9 *@
                    <th>Transaction Date</th> @* 10 *@
                    <th>Transaction Type</th> @* 11 *@
                    <th>Contributor Code</th> @* 12 *@
                    <th>Entity Name</th> @* 13 *@
                    <th>First Name</th> @* 14 *@
                    <th>Middle Name</th> @* 15 *@
                    <th>Last Name</th> @* 16 *@
                    <th>Country</th> @* 17 *@
                    <th>Street Address</th> @* 18 *@
                    <th>City</th> @* 19 *@
                    <th>State</th> @* 20 *@
                    <th>Zip Code</th> @* 21 *@
                    <th>Method</th> @* 22 *@
                    <th>Check #</th> @* 23 *@
                    <th>Amount</th> @* 24 *@
                    <th>Outstanding Amount</th> @* 25 *@
                    <th>Receipt Type</th> @* 26 *@
                    <th>Transfer Type</th> @* 27 *@
                    <th>Contribution Type</th> @* 28 *@
                    <th>Purpose Code</th> @* 29 *@
                    <th>Reciept Code</th> @* 30 *@
                    <th>Original Date</th> @* 31 *@
                    <th>Lender Code</th> @* 32 *@
                    <th>Election Year</th> @* 33 *@
                    <th>Office</th> @* 34 *@
                    <th>District</th> @* 35 *@
                    <th>Explanation</th> @* 36 *@
                    @*<th>Itemized</th>*@
                    <th>Created Date</th> @* 37 *@
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
