
<div id="divHeaderOutstandingLoans">
    <div class="paddingbottom1pt5em paddingtoppt5TS paddingLeft5pt3emDType">
        <h3>@Html.Label("Loan Repayment", new { @id = "lblHeader" })</h3>
    </div>
</div>
<div id="divLiabilitiesGrid">
    <div id="divGridData">
        <table id="gridOutstandingLoanLoanRepay" class="table-bordered display nowrap" style="width:100%; border-spacing: 0px;">
            <thead id="thdGridData" class="header">
                <tr>
                    <th>FilingTransId</th> @* 0 *@
                    <th>FilingSchedId</th> @* 1 *@
                    <th>FilingEntityId</th> @* 2 *@
                    <th>ContributorTypeId</th> @* 3 *@
                    <th>ContributionTypeId</th> @* 4 *@
                    <th>PaymentTypeId</th> @* 5 *@
                    <th>R_Liability</th> @* 6 *@
                    <th>R_Subcontractor</th> @* 7 *@
                    <th></th> @* 8 *@
                    <th>Action</th> @* 8 *@
                    <th>Transaction Date</th> @* 9 *@
                    <th>Transaction Type</th> @* 10 *@
                    <th>Contributor Code</th> @* 11 *@
                    <th>Entity Name</th> @* 12 *@
                    <th>First Name</th> @* 13 *@
                    <th>MI</th> @* 14 *@
                    <th>Last Name</th> @* 15 *@
                    <th>Street Address</th> @* 16 *@
                    <th>City</th> @* 17 *@
                    <th>State</th> @* 18 *@
                    <th>Zip Code</th> @* 19 *@
                    <th>Method</th> @* 20 *@
                    <th>Check #</th> @* 21 *@
                    <th>Amount</th> @* 22 *@
                    <th>Outstanding Amount</th> @* 23 *@
                    <th>Receipt Type</th> @* 24 *@
                    <th>Transfer Type</th> @* 25 *@
                    <th>Contribution Type</th> @* 26 *@
                    <th>Purpose Code</th> @* 27 *@
                    <th>Reciept Code</th> @* 28 *@
                    <th>Original Date</th> @* 29 *@
                    <th>Lender Code</th> @* 30 *@
                    <th>Election Year</th> @* 31 *@
                    <th>Office</th> @* 32 *@
                    <th>District</th> @* 33 *@
                    <th>Explanation</th> @* 34 *@
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>