<div id="divGridImportDisclosureRpts">
    <div class="floatRight paddingBottom0pt8em paddingRight3em paddingtop2em">
        <div id="divAddCampMaterial">
            <input type="button" id="btnImport" class="btn btn-default clsSetPreserences ui-button ui-widget ui-state-default ui-corner-all" name="Command" value="Import" title="Import" style="font-size:12px; text-decoration:none;" />
            @*<input type="button" id="btnDownloadCampaignMaterial" class="btn btn-default clsSetPreserences ui-button ui-widget ui-state-default ui-corner-all" name="Command" value="Download Campaign Material" title="Download Campaign Material" style="font-size:12px; text-decoration:none;" />*@
        </div>
    </div>
    <div id="divImportDisclosureReportsGrid">
        <div id="divGridData">
            <table id="gridImportDisclosureReports" class="table-bordered display nowrap" style="width:100%; border-spacing: 0px;">
                <thead id="thdGridData" class="header">
                    <tr>
                        <th class="never">VendorImportId</th> @* 0 *@
                        <th class="never">FilingsId</th> @* 1 *@
                        <th class="never">VendorId</th> @* 2 *@
                        <th>Expand</th> @* 3 *@
                        <th>Action</th> @* 4 *@
                        <th>Date Imported</th> @* 5 *@
                        <th>Transaction Type</th> @* 6*@
                        <th>Report Year</th> @* 7*@
                        <th>Election Type</th> @* 8 *@
                        <th>Report Type</th> @* 9 *@
                        <th>Election Date</th> @* 10 *@
                        <th>Disclosure Period</th> @* 11 *@
                        <th>Submission Status</th> @* 12 *@
                        <th>File Size</th> @* 13 *@
                        <th>No. of Trans</th> @* 14 *@
                        <th>Vendor Name</th> @* 15 *@
                        <th class="never">CreatedDate24H</th> @* 16 *@
                        <th class="never">ElectionYearId</th> @* 17 *@
                        <th class="never">OfficeTypeId</th> @* 18 *@
                        <th class="never">ElectionTypeId</th> @* 19 *@
                        <th class="never">ElectionDateId</th> @* 20 *@
                        <th class="never">FilingTypeId</th> @* 21 *@
                        <th class="never">FilingCategoryId</th> @* 22 *@
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
