
<div id="divHeaderExpPaymentsLiabForgiven">
    <div class="paddingbottom1pt5em paddingtoppt5TS paddingLeft5pt3emDType">
        <h3><span class="jquerySelectorGridHeader">Liability Forgiven</span></h3>
    </div>
</div>
<div id="divExpPayLiabilityForgiven">
    <div id="divGridData_gridExpPayLiabForgiven">
        <table id="gridExpPayLiabForgiven" class="table-bordered display nowrap" style="width:100%; border-spacing: 0px;">
            <thead id="thdGridData_gridExpPayLiabForgiven" class="header">
                <tr>
                    <th class="never">FilingTransId</th> @* 0 *@
                    <th class="never">TransNumber</th> @* 1 *@
                    <th>Expand</th> @* 2 *@
                    <th>Transaction Date</th> @* 3 *@
                    <th>Transaction Type</th> @* 4 *@
                    <th>Contributor Type</th> @* 5 *@
                    <th>Entity Name</th> @* 6 *@
                    <th>First Name</th> @* 7 *@
                    <th>Middle Name</th> @* 8 *@
                    <th>Last Name</th> @* 9 *@
                    <th>Country</th> @* 10 *@
                    <th>Street Address</th> @* 11 *@
                    <th>City</th> @* 12 *@
                    <th>State</th> @* 13 *@
                    <th>Zip Code</th> @* 14 *@
                    <th>Method</th> @* 15 *@
                    <th>Check #</th> @* 16 *@
                    <th>Amount</th> @* 17 *@
                    <th>Outstanding Amount</th> @* 18 *@
                    <th>Receipt Type</th> @* 19 *@
                    <th>Transfer Type</th> @* 20 *@
                    <th>Contribution Type</th> @* 21 *@
                    <th>Purpose Code</th> @* 22 *@
                    <th>Receipt Code</th> @* 23 *@
                    <th>Original Date</th> @* 24 *@
                    <th>Lender Code</th> @* 25 *@
                    <th>Election Year</th> @* 26 *@
                    <th>Office</th> @* 27 *@
                    <th>District</th> @* 28 *@
                    <th>Explanation</th> @* 29 *@
                    <th>Itemized</th> @* 30 *@
                    <th>County</th> @* 31 *@
                    <th>Municipality</th> @* 32 *@
                    <th>Created Date</th> @* 33 *@
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>


