
<div id="divHeaderOutstandingLoans">
    <div class="paddingbottom1pt5em paddingtoppt5TS paddingLeft5pt3emDType">
        <h3>@Html.Label("Outstanding Loans", new { @id = "lblHeaderOL" })</h3>
    </div>
    @*<div style="float: right; margin-right: 4em;">
        @Html.Label("Outstanding Amount: ", new { @id = "lbl_UC_OutstandingBalance" })
    </div>*@
</div>
<div id="divLiabilitiesGrid">
    <div id="divGridData">
        <table id="gridLoanRepayOutstandingLoan" class="table-bordered display nowrap" style="width:100%; border-spacing: 0px;">
            <thead id="thdGridData" class="header">
                <tr>
                    <th>FilingTransId</th>
                    <th>FilingSchedId</th>
                    <th>FilingEntityId</th>
                    <th>ContributorTypeId</th>
                    <th>ContributionTypeId</th>
                    <th>PaymentTypeId</th>
                    <th>R_Liability</th>
                    <th>R_Subcontractor</th>
                    <th></th>
                    <th>Action</th>
                    <th>Transaction Date</th>
                    <th>Transaction Type</th>
                    <th>Contributor Code</th>
                    <th>Entity Name</th>
                    <th>First Name</th>
                    <th>MI</th>
                    <th>Last Name</th>
                    <th>Street Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip Code</th>
                    <th>Method</th>
                    <th>Check #</th>
                    <th>Amount</th>
                    <th>Outstanding Amount</th>
                    <th>Receipt Type</th>
                    <th>Transfer Type</th>
                    <th>Contribution Type</th>
                    <th>Purpose Code</th>
                    <th>Reciept Code</th>
                    <th>Original Date</th>
                    <th>Lender Code</th>
                    <th>Election Year</th>
                    <th>Office</th>
                    <th>District</th>
                    <th>Explanation</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>