
@{
    ViewBag.Title = ": Get Schedule M Help Pop Up";
    Layout = "~/Views/Shared/_HelpMaster.cshtml";
}

<div data-role="page" id="pageone">
    <div data-role="header">
        <h1 style="padding-left:1em; padding-right:1em;">Contributions Refunded Help:</h1>
    </div>
    <br />
    <div data-role="main" class="ui-content">
        <div data-role="collapsibleset">
            <div data-role="collapsible" data-collapsed="false">
                <p class="helpscreen-text-required">
                    <br />
                    Contributions Refunded (Schedule M) is used to report the return or refund back to the contributor of previously deposited/reported contributions to the candidate/committee. The amount refunded may not be more than the amount contributed.
                    <br />
                    <br />
                    NOTE: This will decrease your balance.
                    <br />
                    <br />
                    System creates / links the Contribution Refunds to the Contributions (Schedule A, B, C, D, E).
                    <br />
                    <br />
                    The date refund received, check number (if method of payment is check) and amount refunded must be included along with the name to save the transaction. However if the address details are not provided, it might result in Deficiency letter.
                    <br />
                </p>
            </div>
        </div>
    </div>

</div>

