@{
    ViewBag.Title = ": Home";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div id="divMainCenterTop">
    <div class="bg-white p-5 rounded m-1 border border-2">
        <h1 class="display-4">New York State Board of Elections: Electronic Filing System (EFS)</h1>
        <p class="lead">Application Home Page</p>
        <hr />
        <div>
            <h2>WHAT IS THE NEW EFS WEB APPLICATION?</h2>
            <p>The New York State Board of Elections is pleased to announce it has transitioned all filers from its Electronic Filing System (EFS) desktop application software to a new web-based system, as of <strong>Monday, January 25, 2021 at 8:00am</strong>.</p>
            <p>While the previous EFS desktop applications were only accessible on the device on which they were originally installed, the new EFS Web Application is accessible from any desktop, laptop, or tablet device connected to the internet. The new system has been developed by the New York State Board of Elections and tested both internally and by filers. It features a user-friendly dashboard interface where filers are able to create, submit, and view disclosure reports.</p>
            <p>Please be aware that the new web-based system utilizes an <strong>email address and password</strong> for filer log-in.</p>
            <ul>
                <li>All filers have been assigned a NEW FIler ID, made up of digits only.</li>
                <li>Old filer IDs (the letter A or C followed by five digits) are no longer used.</li>
                <li>Personal Identification Numbers (PINs) are no longer used.</li>
            </ul>

            <p>If you have not provided the treasurer’s email address to the New York State Board of Elections already, please contact the Campaign Finance Call Center at (518) 474-8200 promptly to do so.</p>

            <p><strong>Effective January 25, 2021 at 8:00am, a filer is unable to submit any disclosure reports without a valid email address.</strong></p>
        </div>
        <hr/>
        <div>
            <h2>Training Videos</h2>
            <p>In addition to our live webinars, the NYS Board of Elections has created a series of short videos for filers to learn how to use the new web-based system. The videos may be watched one right after the other as a full training session about the new web-based Electronic Filing System (EFS), or you may simply watch the topics which pertain to the specific questions you may have.</p>
            <a class="btn btn-default" href="https://youtube.com/playlist?list=PL8_UzRFUbjmVQCtY9sq4VN3KjaNFDcrnh" aria-label="Full Playlist of Training Videos" title="Training Videos">Full Playlist of Training Videos <span aria-hidden="true">&nbsp;&nbsp;</span></a>
        </div>
        <hr/>
        <div>
            <h2>Additional Information</h2>
            <p>For aditional information visit the <a href="https://www.elections.ny.gov/CFaboutWebBasedEFS.html">NY Board of Elections site</a>.</p>
        </div>
    </div>
</div>







