<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICAPASFIDAS_EFS_SERVICE" closeTimeout="00:10:00"
                    openTimeout="00:10:00" sendTimeout="00:25:00" maxBufferPoolSize="2147483647"
                    maxReceivedMessageSize="2147483647">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51816/CAPASFIDAS_EFS_SERVICE.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICAPASFIDAS_EFS_SERVICE"
                contract="EFSService.ICAPASFIDAS_EFS_SERVICE" name="WSHttpBinding_ICAPASFIDAS_EFS_SERVICE" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
