@{
    ViewBag.Title = ": Under Maintenance";
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div style="padding: 40px 15px;text-align: center;">
                <br />
                <h1>
                    EFS is down for maintenance. 
                </h1>
                <div class="error-details">
                    <br/>
                    <p style="font-size:larger;">Please try again later.</p>
                    <p style="font-size:larger;">For assistance, please Contact NYS Board of Elections IT Help desk at (518) 474-8200.</p>
                </div>
                <br />
                <div style="margin-top:15px;margin-bottom:15px;">
                    <a href='https://www.elections.ny.gov/' class="btn btn-default btn-lg" style="margin-right:10px;">
                        <span class="glyphicon glyphicon-home"></span>&nbsp;Board of Elections Home
                    </a>
                    <a href="https://www.elections.ny.gov/Contact.html" class="btn btn-default btn-lg" style="margin-right:10px;">
                        <span class="glyphicon glyphicon-envelope"></span>&nbsp;Contact Support
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

