
@{
    ViewBag.Title = ": Help Submit Disclosure Report";
    Layout = "~/Views/Shared/_HelpMaster.cshtml";
}

<div data-role="page" id="pageone">
    <div data-role="header">
        <h1>How to Submit Disclosure Reports:</h1>
    </div>
    <br />
    <div data-role="main" class="ui-content">
        <div data-role="collapsibleset">
            <div data-role="collapsible" data-collapsed="false">
                @*<h1>How to Submit Disclosure Reports:</h1>*@
                <ol type="1">
                    <li>Select <strong>View/Submit Disclosure Report</strong> from the menu at the top of the screen.</li>
                    <li>Select the <strong>Report Year</strong>, <strong>Filer Type</strong>, <strong>Report Type</strong>, <strong>Election Date</strong>, <strong>Disclosure Type</strong> and <strong>Disclosure Period</strong> if applicable from the Filter of the disclosure report you would like to submit.  Click <strong>Apply</strong>.</li>
                    <li><strong>As Entered</strong> is the default summary view.  Select <strong>By Transaction Type</strong> or <strong>By Schedule</strong> from the dropdown to change the view.</li>
                    <li>Verify the opening balance and ending balance are correct.</li>
                    <li>Click on the <strong>Submit Disclosure Report</strong> button to submit your disclosure report.  A message will indicate if you submission was successful.  If successful, the submitted date and time will be displayed to the left of the <strong>Submit/Amend Disclosure Report</strong> button.</li>
                    <li style="list-style-type: none;"><strong>Note:</strong>  If the disclosure report has been previously submitted, the button will now say <strong>Amend Disclosure Report</strong> and will be considered an amendment.</li>
                </ol>

            </div>
        </div>
    </div>

</div>

