
@{
    ViewBag.Title = ": Help Delete Disclosure Report";
    Layout = "~/Views/Shared/_HelpMaster.cshtml";
}

<div data-role="page" id="pageone">
    <div data-role="header">
        <h1>How to Delete Disclosure Report:</h1>
    </div>
    <br />
    <div data-role="main" class="ui-content">
        <div data-role="collapsibleset">
            <div data-role="collapsible" data-collapsed="false">
                @*<h1>How to Create a Disclosure Report:</h1>*@
                <ol type='1'>
                    <li>
                        Only un-submitted disclosure reports can be deleted by the Treasurer.
                        <ol type='a'>
                            <li>To delete an un-submitted disclosure report, click the Delete button in the Action column on the row you wish to delete.  A dialog box will display asking you to confirm.  Click OK.</li>
                            <li>To delete a submitted disclosure report, a request must be emailed to cfinfo@elections.ny.gov indicating the Report Year, Filer Type, Election Type, Election Date, Disclosure Type and Disclosure Period of the report to be deleted</li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>
    </div>

</div>

