
@{
    ViewBag.Title = ": Help Edit Delete Transaction";
    Layout = "~/Views/Shared/_HelpMaster.cshtml";
}

<div data-role="page" id="pageone">
    <div data-role="header">
        <h1>How to Edit/Delete Transactions:</h1>
    </div>
    <br />
    <div data-role="main" class="ui-content">
        <div data-role="collapsibleset">
            <div data-role="collapsible" data-collapsed="false">
                @*<h1>How to Edit/Delete Transactions:</h1>*@
                <p>There are three options:</p>
                <ol type="1">
                    <li>
                        File a Disclosure Report
                        <ol type="a">
                            <li>Select <strong>File a Disclosure Report</strong> from the menu at the top of the screen.</li>
                            <li>Select the <strong>Report Year</strong>, <strong>Filer Type</strong>, <strong>Report Type</strong>, <strong>Election Date</strong>, <strong>Disclosure Type</strong> and <strong>Disclosure Period</strong> if applicable from the Filter.  Click <strong>Apply</strong>.</li>
                            <li>To edit transactions, click the <strong>Edit</strong> button in the <strong>Action</strong> column in the transaction.  Make the necessary change(s) and click <strong>Save</strong>.</li>
                            <li>Select <strong>View/Submit Disclosure Report</strong> from the menu at the top of the screen.  Review the balance and click on the <strong>Amend</strong> button to submit the edited transaction(s).</li>
                        </ol>
                    </li>
                    <li>
                        View All Disclosure Reports
                        <ol type="a">
                            <li>Select <strong>View All Disclosure Reports</strong> from the menu at the top of the screen.</li>
                            <li>Select the <strong>Report Year</strong>, <strong>Filer Type</strong>, <strong>Report Type</strong>, <strong>Election Date</strong>, <strong>Disclosure Type</strong> and <strong>Disclosure Period</strong> if applicable from the Filter.  Click <strong>Apply</strong>.</li>
                            <li>Select the latest version (submitted or un-submitted) from the disclosure report grid.</li>
                            <li>To edit transactions, click the <strong>Edit</strong> button in the <strong>Action</strong> column in the transaction.  System will open <strong>File Disclosure Report</strong> Screen with Filter information selected for the transaction to be edited. Make the necessary change(s) and click <strong>Save</strong>.</li>
                            <li>Select <strong>View/Submit Disclosure Report</strong> from the menu at the top of the screen.  Review the balance and click on the <strong>Amend</strong> button to submit the edited transaction(s).</li>
                        </ol>
                    </li>
                    <li>
                        View/Submit Disclosure Report
                        <ol type="a">
                            <li>Select <strong>View/Submit Disclosure Report</strong> from the menu at the top of the screen.</li>
                            <li>Select the <strong>Report Year</strong>, <strong>Filer Type</strong>, <strong>Report Type</strong>, <strong>Election Date</strong>, <strong>Disclosure Type</strong> and <strong>Disclosure Period</strong> if applicable from the Filter.  Click <strong>Apply</strong>.</li>
                            <li>To edit transactions, click the <strong>Edit</strong> button in the <strong>Action</strong> column in the transaction.  System will open <strong>File Disclosure Report</strong> Screen with Filter information selected for the transaction to be edited. Make the necessary change(s) and click <strong>Save</strong>.</li>
                            <li>Select <strong>View/Submit Disclosure Report</strong> from the menu at the top of the screen.  Review the balance and click on the <strong>Amend</strong> button to submit the edited transaction(s).</li>
                        </ol>
                        <p><strong>Note:</strong>  The last transaction of a submitted disclosure report cannot be deleted.  Treasurer will need to request the Disclosure Report be deleted.  See How to Delete Disclosure Reports.</p>
                    </li>
                </ol>

            </div>
        </div>
    </div>

</div>

