<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="EFSEntities" connectionString="metadata=res://*/EFSModel.csdl|res://*/EFSModel.ssdl|res://*/EFSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BOEQDB1\APPSQL;initial catalog=CAPASFIDAS;user id=RLSLogin;password=User@123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="CAPASFIDASTEMPEntities" connectionString="metadata=res://*/EFSAuthentication.csdl|res://*/EFSAuthentication.ssdl|res://*/EFSAuthentication.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=UPOCDB1;initial catalog=CAPASFIDASTEMP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="EFSEntities" connectionString="metadata=res://*/EFSModel.csdl|res://*/EFSModel.ssdl|res://*/EFSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BOEDDB1;initial catalog=CAPASFIDAS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CAPASFIDASTEMPEntities1" connectionString="metadata=res://*/EFSAuthentication.csdl|res://*/EFSAuthentication.ssdl|res://*/EFSAuthentication.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=UPOCDB1;initial catalog=CAPASFIDASTEMP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CAPASFIDASTEMPDBEntities" connectionString="metadata=res://*/EFSTEMPModel.csdl|res://*/EFSTEMPModel.ssdl|res://*/EFSTEMPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BOEDDB1;initial catalog=CAPASFIDASTEMP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>