@{
    ViewBag.Title = ": Release Note";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div data-role="page" id="pageone" class="p-3">
    <div data-role="header">
        <br />
        <h1 style="text-align:center;">Release Notes</h1>
    </div>
    <br />
    <!--Version 1.0.0.5 (01/10/2024)-->
    <div class="accordion" id="accordionHelp5">
        <div class="card">
            <div class="card-header" id="heading5">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                        <span class="cssSelectorUp" role="img" aria-label="Open"></span>
                        <span class="cssSelectorDown" role="img" aria-label="Close"></span>Version 1.0.0.5 (01/10/2024)
                    </button>
                </h2>
            </div>
            <div id="collapse5" class="collapse show" aria-labelledby="heading5" data-parent="#accordionHelp5">
                <div class="card-body">
                    <h3>
                        File a Disclosure Report – Monetary Contributions Received from Individuals and Partnerships
                    </h3>
                    <div style="padding-left:1em;">
                        <ul>
                            <li>
                                Added new payment type (Money Order). Check/Money Order # is required when Money Order is selected.
                            </li>                            
                        </ul>
                    </div>
                    <h3>
                        System Wide
                    </h3>
                    <div style="padding-left:1em;">
                        <ul>
                            <li>
                                Updated label "Check #" to "Check/Money Order #".
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Version 1.0.0.4 (12/21/2022)-->
    <div class="accordion" id="accordionHelp4">
        <div class="card">
            <div class="card-header" id="heading4">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                        <span class="cssSelectorUp" role="img" aria-label="Open"></span>
                        <span class="cssSelectorDown" role="img" aria-label="Close"></span>Version 1.0.0.4 (12/21/2022)
                    </button>
                </h2>
            </div>
            <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionHelp4">
                <div class="card-body">
                    <h3>
                        File a Disclosure Report
                    </h3>
                    <div style="padding-left:1em;">
                        <ul>
                            <li>
                                Added new transaction type (Public Fund Receipts) for a PCF Committee registered to participate
                                in the Public Campaign Finance Program to disclose public funds received.
                            </li>
                            <li>
                                Added new transaction type (Qualified Expenditures) for a PCF Committee registered to participate
                                in the Public Campaign Finance Program to disclose any expenditure using public funds received.
                            </li>
                            <li>
                                Added new requirement for a PCF Committee registered to participate
                                in the Public Campaign Finance Program to not allow unitemized transactions.
                            </li>
                            <li>
                                Added new requirement for a PCF Committee registered to participate
                                in the Public Campaign Finance Program to include new required fields for transaction types
                                Monetary Contributions Received From Ind. & Part.,
                                In-Kind (Non-Monetary) Contributions Received and
                                Loans Received
                            </li>
                            <li>
                                Added functionality to disclose attribution details for receipt code Limited Liability Company (LLC)
                                for transaction type Non-Campaign Housekeeping Receipts.
                            </li>
                        </ul>
                    </div>
                    <h3>
                        Import Disclosure Report
                    </h3>
                    <div style="padding-left:1em;">
                        <ul>
                            <li>
                                Updated Vendor Import function to include Public Campaign Finance Program new required fields
                                and improved error tracking to include a grid and downloadable CSV listing all errors
                                by Row Number, Column Name and an informative Error Message.
                            </li>
                        </ul>
                    </div>
                    <h3>
                        View/Submit Disclosure - Disclosure Report Summary
                    </h3>
                    <div style="padding-left:1em;">
                        <ul>
                            <li>
                                Added new transaction type (Public Fund Receipts) under Total Miscellaneous Receipts.
                            </li>
                            <li>
                                Added new transaction type (Qualified Expenditures) under Total Expenses.
                            </li>
                            <li>
                                Updated Generate Full Period report to include new transaction types
                                Public Fund Receipts and Qualified Expenditures.
                            </li>
                        </ul>
                    </div>
                    <h3>
                        View All Disclosure Reports
                    </h3>
                    <div style="padding-left:1em;">
                        <ul>
                            <li>
                                Added new required fields for PCF Committee registered to participate
                                in the Public Campaign Finance Program in the transactions grid.
                            </li>
                            <li>
                                Updated Generate balance report to include Public Fund Receipts and Qualified Expenditures.
                            </li>
                            <li>
                                Updated Generate Full Period report to include new transaction types
                                Public Fund Receipts and Qualified Expenditures.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Version 1.0.0.3 (09/28/2022)-->
    <div class="accordion" id="accordionHelp3">
        <div class="card">
            <div class="card-header" id="heading3">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                        <span class="cssSelectorUp" role="img" aria-label="Open"></span>
                        <span class="cssSelectorDown" role="img" aria-label="Close"></span>Version 1.0.0.3 (09/28/2022)
                    </button>
                </h2>
            </div>
            <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionHelp3">
                <div class="card-body">
                    <h3>
                        System Wide
                    </h3>
                    <div style="padding-left:1em;">
                        <ul>
                            <li>
                                Improved user interface for Mac operating system users.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Version 1.0.0.2 (06/08/2022)-->
    <div class="accordion" id="accordionHelp2">
        <div class="card">
            <div class="card-header" id="heading2">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                        <span class="cssSelectorUp" role="img" aria-label="Open"></span>
                        <span class="cssSelectorDown" role="img" aria-label="Close"></span>Version 1.0.0.2 (06/08/2022)
                    </button>
                </h2>
            </div>
            <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionHelp2">
                <div class="card-body">
                    <h3>
                        System Wide
                    </h3>
                    <div style="padding-left:1em;">
                        <ul>
                            <li>
                                Added August Primary as a Report Type for 2022 State/Local Election.
                            </li>
                            <li>
                                Added 10 Day Post Primary as a Disclosure Period for the 2022 State/Local August Primary Election.
                            </li>
                        </ul>
                    </div>
                    <h3>
                        File a Disclosure Report – Monetary Contributions Received from Individuals and Partnerships
                    </h3>
                    <div style="padding-left:1em;">
                        <ul>
                            <li>
                                Update Import to allow special characters.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Version 1.0.0.1 (05/11/2022)-->
    <div class="accordion" id="accordionHelp1">
        <div class="card">
            <div class="card-header" id="heading1">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                        <span class="cssSelectorUp" role="img" aria-label="Open"></span>
                        <span class="cssSelectorDown" role="img" aria-label="Close"></span>Version 1.0.0.1 (05/11/2022)
                    </button>
                </h2>
            </div>
            <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordionHelp1">
                <div class="card-body">
                    <h3>
                        File a Disclosure Report – Monetary Contributions Received from Individuals and Partnerships
                    </h3>
                    <div style="padding-left:1em;">
                        <ul>
                            <li>
                                Added an import function that allows Filers to import itemized Monetary Contributions Received from Individuals and Partnerships. File must be in CSV format and meet the specifications defined in the File Format Reference document. File Format Reference document can be downloaded from the Import Monetary Contributions dialog box after clicking the Import button on the File a Disclosure Report page and selecting Monetary Contributions Received from Individuals and Partnerships as the transaction type and clicking Apply. Additional information is available under Help, How to Import Disclosure Data.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>