
@{
    ViewBag.Title = ": Get Schedule P Help Pop Up";
    Layout = "~/Views/Shared/_HelpMaster.cshtml";
}

<div data-role="page" id="pageone">
    <div data-role="header">
        <h1 style="padding-left:1em; padding-right:1em;">Non-Campaign Housekeeping Receipts Help:</h1>
    </div>
    <br />
    <div data-role="main" class="ui-content">
        <div data-role="collapsibleset">
            <div data-role="collapsible" data-collapsed="false">
                <p class="helpscreen-text-required">
                    <br />
                    Non-Campaign Housekeeping Receipt (Schedule P) is only used by party and constituted committees to report receipts associated with maintaining a permanent party headquarters and staff and carrying on ordinary activities which are not for the express purpose of promoting the candidacy of specific candidates. See Election Law Section 14-124(3).
                    <br />
                    <br />
                    The date received, receipt code, check number (if method of payment is check) and amount of contribution must be included along with the contributor name to save the transaction. However if the address details are not provided, it might result in Deficiency letter.
                    <br />
                    <br />
                    Detailed records must be captured for receipts with receipt code as “Partnership, including LLPs” for amount over $2500. The partner name, amount attributed must be included to save the detailed transaction.
                    <br />
                    <br />
                    When a partnership's total aggregate contributions exceed $2,500 (calendar year for constituted/party committees/PACs; election cycle for candidates/candidate's committees) partnership details must also be reported.
                    <br />
                </p>
            </div>
        </div>
    </div>

</div>

