
@{
    ViewBag.Title = ": Get Help with Transfers Out (Schedule H)";
    Layout = "~/Views/Shared/_HelpMaster.cshtml";
}

<div data-role="page" id="pageone">
    <div data-role="header">
        <h1  style="padding-left:1em; padding-right:1em;">Transfers Out Help:</h1>
    </div>
    <br />
    <div data-role="main" class="ui-content">
        <div data-role="collapsibleset">
            <div data-role="collapsible" data-collapsed="false">
                <p class="helpscreen-text-required">
                    <br />
                    Transfers Out (Schedule H) is used to report Transfers Out. Transfer means the exchange of funds or anything of value between: a) a party or constituted committee and a candidate or any of his/her authorized committees; or b) two committees authorized by, and solely supporting the same candidate in his campaign.
                    <br />
                    <br />
                    NOTE: Do not report funds given or paid to independent committees or committees authorized by a different candidate as a transfer (e.g., \"Friends of John Doe\" to \"Citizens for Smith\"). Those must be reported as an expenditure on Expenditure / Payments (Schedule F).
                    <br />
                    <br />
                    PACs (Political Action Committees) must not use this schedule. Any monies given or paid for political purposes must be reported on Expenditure / Payments (Schedule F).
                    <br />
                    <br />
                    The date transferred, transferee name, transfer type, check number (if method of payment is check) and amount must be included to save the transaction. However if the address details are not provided, it might result in Deficiency letter.
                    <br />
                </p>
            </div>
        </div>
    </div>

</div>

