
@{
    ViewBag.Title = ": Get Schedule Q Help Pop Up";
    Layout = "~/Views/Shared/_HelpMaster.cshtml";
}

<div data-role="page" id="pageone">
    <div data-role="header">
        <h1 style="padding-left:1em; padding-right:1em;">Non-Campaign Housekeeping Expenses Help:</h1>
    </div>
    <br />
    <div data-role="main" class="ui-content">
        <div data-role="collapsibleset">
            <div data-role="collapsible" data-collapsed="false">
                <p class="helpscreen-text-required">
                    <br />
                    Non-Campaign Housekeeping Expenses (Schedule Q) is used only by party and constituted committees to report expenses associated with maintaining a permanent party headquarters and staff and carrying on ordinary activities which are not for the express purpose of promoting the candidacy of specific candidates. See New York State Election Law Section 14-124(3).
                    <br />
                    <br />
                    The date paid, purpose code, check number (if method of payment is check) and amount must be included along with the payee name to save the transaction. However if the address details are not provided, it might result in Deficiency letter.
                    <br />
                    <br />
                    Detailed records must be captured for purpose code Reimbursement and Credit Card Payment.
                    If purpose code is selected as “Reimbursement”, details must be provided under reimbursement details. The details payee name, purpose code and amount must be included to save the detailed transaction.
                    <br />
                    <br />
                    If purpose code is selected as “Credit Card Payment”, details must be provided under credit card payment details. The date paid, payee name, amount must be included to save the detailed transaction.
                    <br />
                </p>
            </div>
        </div>
    </div>

</div>

